/* body style */
body {
    background-color: white;
    font-family: 'Arimo', sans-serif;
}

/* nav style */
.nav {
    display: flex;
    justify-content: space-between;
}

/* link styles */
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

a:hover {
    color: #138496;
  }

.card {
    border: none;  
}

#question-card {
    margin: 0 160px 0 160px;
}

.btn-grid {
    gap: 10px;
}
